
{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}

{% block article%}

<strong>    
   <label>Area</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
<strong>    
   <label>Materia</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>    
<strong>    
   <label>Curso</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
<strong>    
   <label>Docente</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
<strong>    
   <label>Hora</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>

<strong>    
   <label>MES</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr><strong>    
   <label>NIVEL</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
<strong>    
   <label>PERIODO</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
<strong>    
   <label>REQUISITO</label>
   <br>
</strong>
        <li><a href="#">Ingresar</a> </li>
        <li><a href="#">Listar</a> </li>
<hr>
{% endblock%}
{% block aside%}

{{parent()}}
    
<a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}
