<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | ACADÉMICO</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block id '' %} ">
        <div id="contenedor">
        {% block body %}{% endblock %}
            <footer>
                &copy;  {{ 'now' | date('Y') }} - Cupon <br>
                <a href="#"> Ayuda </a> 
                <a href="#"> Contacto </a>
                <a href="#"> Privacidad </a>
                <a href="#"> Sobre nosotros </a>
            </footer>
        {% block javascripts %}{% endblock %}
        </div>></body>
</html>
