<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | ACADÉMICO</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/iconos/logo.jpg') }}" />
    </head>
    <body id="{% block id '' %} ">
        <div id="contenedor">
        {% block body %}{% endblock %}
            <footer>
                <div align="center">&copy;  {{ 'now' | date('Y') }} - Todos los derechos reservados CONDUESPOCH E.P </div>             
                <div align="center">Dirección: Panamericana Sur km 1 1/2, Riobamba - Ecuador | Teléfono: (03) 3 034-185</div>
            </footer>
        {% block javascripts %}{% endblock %}
        </div>></body>
</html>
