{#El usuario esta logueado#}


    {% for mensaje in app.session.flashbag.get('Info')%}
        <p class="boton">{{mensaje}}</p>
     {% endfor%}    
        
    <h2>Accede a tu cuenta</h2>
    <form action="{{path('estudiante_registro')}}" method="post" >


                <label for="login_user">Email:</label>
                <input id="login_user" type="text" name="_username" value="{{last_username | default('')}}" autocomplete="off"/>            
                <label for="login_pass">Contraseña:</label>
                <input id="login_pass" type="password" name="_password"/><br>
                <input type="checkbox" id="no_cerrar" name="_remember_me" checked/>
                <label for="no_cerrar">No cerrar sesión</label>
                <input type="submit" value="Entrar" class="boton"/>
                <input type="hidden" name="_target_path" value="/usuario/compras" />
    </form>

