{% extends '::frontend.html.twig' %}

{% block id 'estudiante' %}

{% block title %}

{{mensaje}}

{% endblock%}

{% block article %}

<h1>{{ block ('title')}}</h1>







{% endblock%}

{% block aside %}
mensaje
{% endblock%}
