{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>INGRESO NOTAS DE EXAMENES DE GRADO</strong></p>
<p><strong>Detalles:</strong></p>
<ul>
    <li style="color: #0066ff">Para proceder al ingreso de las notas de examenes de grado por favor seleccione una materia</li>
</ul>
{% endblock%}
{% block aside %}    
    <p style="text-align: center">Curso actual:</p>
    <p style="text-align: left; color: #090"><strong>{{curso}}</strong></p>
    <strong><p align="center">Materias:</p></strong>
    <div id="relacionadas">
        <ul>
    {% for mat in listamaterias %}
                <li ><a href="{{path('secretaria_examengrado_registro_notas',{'codmg': mat.id})}}" class="boton">{{mat.materia}}<a></li>
    {% endfor%}

            </ul>
        </div>
   <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
