{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}

<p style="text-align: center ; color: #0035C7; -webkit-animation-play-state: "><strong>BIENVENIDOS AL SISTEMA ACADÉMICO DE CONDUESPOCH</strong></p>
    
<p style="text-align: center; margin:  0.625em; text-wrap: inherit"><img src="{{ asset('uploads/iconos/img1.png')}}"  width="600" height="255" style=""></p>

<p style="text-align: center; color: #0035C7">    
</p>

{% endblock%}
{% block aside%}

{{parent()}}
    
{% endblock%}
