
{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}

{% block article%}
<section id="menu_amaterias">
    {% include 'academicoBundle:Default:menu_amaterias.html.twig'%}
</section>

{% endblock%}
{% block aside%}

{{parent()}}
    
<a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}
