{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<h1>PERIODO ACADÉMICO ACTUAL {{periodo.nombre}}</h1><br>
<strong><legend>Estudiante</legend></strong>
<strong>
    <ul>
        <li><a href="{{path('estudiante_busqueda')}}">Inscripción</a></li>
        <li><a href="{{path('estudiante_buscar')}}">Matrícula</a></li>                
    </ul>
</strong>

{% endblock%}

