{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<strong><legend>Enlaces de interes</legend></strong>
<strong>
    <ul>
        <li><a href="{{path('estudiante_registro')}}">Registrar estudiante</a></li>
        <li><a href="{{path('estudiante_busqueda')}}">Buscar estudiante</a></li>
        <li><a href="{{path('estudiante_busqueda')}}">Matricula</a></li>
        
    </ul>
</strong>



{% endblock%}

