{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
</section>

{% endblock%}

{% block aside %}    
    {{ parent()}}
      <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}