{% extends '::frontend.html.twig' %}


{% block id 'requisito' %}

{% block title %}Requisito del estudiante{% endblock%}

{% block article %}

<h1>{{ block ('title')}}</h1>
<strong>Cédula:</strong>{{estudiante.cedula}}<br>
<strong>Nombre:</strong>{{estudiante.nombre}}<br>
<strong>Apellido:</strong>{{estudiante.apellido}}<br>

{% endblock%}

{% block aside %}

       
{% endblock%}