{% extends '::frontend.html.twig' %}

{% block id 'estudiante' %}

{% block title %}Requisito del estudiante{% endblock%}

{% block article %}

<h1>{{ block ('title')}}</h1>

{{estudiante.nombre}}



{% endblock%}

{% block aside %}

{% endblock%}